body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background: #e6ecf0;
}

.tweetDiv{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    color: #1DA1F2;

}
.tweetDiv p{
    margin: 0 0 5px 0;
}
.tweetDiv span{
    font-size: .8em;
}